
.carousel {
  z-index: 4;
  width: 585px;
  margin: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  & {
    height: 75px;
    line-height: 75px;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      height: 75px;
      line-height: 75px;
      font-size: 10px;
      list-style: none;
    }
    .swiper-slide {
      text-align: center;
    }
  }
}